<!DOCTYPE html>
<html lang="en">
<head>
    <meta charste="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do Details</title>
</head>
<body>
    <h1>{{todo_list_detail.name}}</h1>
    <h2>Tasks</h2>
    <h2>To-Do Items ({{ todo_list_detail.items.all|length }} items)</h2>
    <table border="1">
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
        {% for todo_item in todo_list_detail.items.all %}
            <tr>
                <td>{{ todo_item.task }}</td>
                <td>{{ todo_item.due_date }}</td>
                <td>{{ todo_item.status }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>